@font-face {
  font-family: "Inter 28pt";
  src: url("../fonts/Inter28pt-BoldItalic.woff2") format("woff2"), url("../fonts/Inter28pt-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("../fonts/Inter28pt-Bold.woff2") format("woff2"), url("../fonts/Inter28pt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-Regular.woff2") format("woff2"), url("../fonts/Inconsolata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.woff2") format("woff2"), url("../fonts/Lora-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic.woff2") format("woff2"), url("../fonts/Lora-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("../fonts/Inter28pt-Regular.woff2") format("woff2"), url("../fonts/Inter28pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("../Inconsolata-Bold.woff2") format("woff2"), url("../fonts/Inconsolata-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}

body {
  font-family: "Inter 28pt", "Arial", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #2d2d2d;
}

body.dark {
  color: #ffffff;
  background-color: #050505;
}

.logo {
  display: block;
}

.logo__img {
  display: block;
  width: 2rem;
  height: 2.25rem;
}
.container {
  width: 100%;
  max-width: 48.5rem;
  padding: 0 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
